.myClass {
    background-color: rgb(205, 211, 240);
    
}

.freindContact {
    background-color: rgb(66, 228, 74);
   
}

.familyContact {
    background-color: rgb(102, 122, 224);
   
}

.workContact {
    background-color: rgb(236, 35, 52);
    
}