<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Contact 1</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title" [ngClass]="markContact">Walid HAMMAMI</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Phone : xx xxxxxx</li>
            <li>Email : walid.ham@hotmail.com</li>
            <li>Description : amis</li>
          </ul>
          <div class="mat-card-actions">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Contact 2</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title" [ngStyle]="markContactStyle">Walid HAMMAMI</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Phone : xx xxxxxx</li>
            <li>Email : walid.ham@hotmail.com</li>
            <li>Description : amis</li>
          </ul>
          <div class="mat-card-actions">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Contact 3</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title" [ngClass]="isMarked ? 'myClass' : ''">Walid HAMMAMI</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Phone : xx xxxxxx</li>
            <li>Email : walid.ham@hotmail.com</li>
            <li>Description : amis</li>
          </ul>
          <div class="mat-card-actions">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Contact 4</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">Walid HAMMAMI</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Phone : xx xxxxxx</li>
            <li>Email : walid.ham@hotmail.com</li>
            <li>Description : amis</li>
          </ul>
          <div class="mat-card-actions">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Contact 5</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">Walid HAMMAMI</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Phone : xx xxxxxx</li>
            <li>Email : walid.ham@hotmail.com</li>
            <li>Description : amis</li>
          </ul>
          <div class="mat-card-actions">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
