<header>
  <div *ngIf="isConnected; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <div
      class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
    >
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Hi User</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Ajouter</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"
          >Liste des contacts</a
        >
      </nav>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div
      class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
    >
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Se connecter</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Créer un compte</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"
          >Contactez nous</a
        >
      </nav>
    </div>
  </ng-template>
</header>
